/* Google Fonts */
@import url(https://fonts.google.com/specimen/Poppins?query=poppins);

/* ====== Global=== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

ul{
    list-style: none;
}

.logo{
    font-style: inherit;
    font-weight: lighter;
    margin-top: 2%;
    margin-left: 10%;
    font-family: 'Poppins', sans-serif;
}

.active {
    color: rgb(243, 237, 237);
    text-decoration: underline;
    font-weight: bold;
}

html{
    scroll-behavior: smooth;
}

/* navbar */
a{
    color: rgb(56, 56, 56);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: black;
    font: 2.25rem;
}

.nav ul{
    float: right;
    margin-right: 50px;

}

nav li{
    display: inline-block;
    line-height: 80px;
    margin: 0 60px;
    list-style: none;
    position: relative;
}

.nav ul li a{
    color: rgb(56, 56, 56);
    font-size: 17px;
    text-transform: uppercase;
    padding: 0 30px;
    text-decoration: none;
}


nav ul li::after{
    content: '';
    height: 3px;
    width: 0px;
    background: rgb(131, 109, 10);
    position: absolute;
    left: 0;
    bottom: 20px;
    transition: 0.5s;
}

nav ul li:hover::after{
    width: 100%;

}

nav li a:hover{
    color: rgb(0, 0, 0);
    transition: all 0.4s ease 0s;
}

.nav-links li{
    margin: 0 30px;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url(image/cover.webp);
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
    margin-bottom: 150px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 800px;
    margin-bottom: -200px;
}


/* events */ 
section{
    width: 100%;
    margin: 85px auto;
}

.title{
    text-align: center;
    font-size: 4vmin;
    color: rgb(179, 116, 0);
}

.row{
    text-align: center;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row .col img{
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.event .row{
    margin-top: 50px;
}

h4{
    font-size: 3vmin;
    color: black;
    margin: 50px auto;
}
.event .ctn{
    margin-top: 30px;
}

.about {
    width: 50%;
    height: 80vh;
    text-align: left;
}

.about-content img{
    width: 50%;
    flex-direction: column;
    align-items: right;
    display: flex;
    margin-top: -20%;
}

h5{
    font-size: medium;
    text-align: left;
    width: 100%;
    margin-left: 55%;
}

h6{
    font-size: medium;
    text-align: left;
    width: 100%;
    margin-left: 55%;
}

section .about{
    width: 60%;
    margin: 85px auto;
    margin-left: 5%;
}

.content-col{
    width: 50%;
}

.image-col{
    width: 60%;
}

.furnituregallery .image-gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
}

.image-gallery img{
    width: 300px;
    margin: 50px;
    margin-left: 50%;
}

.content-col h1{
    font-size: 6vmin;

}

.content-col .line{
    margin-left: -1px;
}

.image-gallery .col h5{
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 3vmin;
}

.footer{
    width: 100%;
    height: 200px;
    margin-bottom: -100px;
    background: rgb(173, 129, 6);
    text-align: center;
    padding: 10px 0;
}

section .contact{
    width: 40%;
    margin-left: 10%;
}

.contact h6{
    width: 200%;
    margin: center;
    margin-left: 0;
    font-size: 4vmin;

}

.main{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20%;
    margin-top: -3%;
    margin: center;
}


.footer .col{
    width: 25%;
}

.footer .col h4{
    font-size: 1.2rem;
    color: black;
    margin-bottom: 25px;
    position: relative;
}
.main .col h4::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 55px;
    left: 5;
    bottom: -8px;
    background: rgb(97, 72, 2);
}

.footer .col ul li{
    margin-bottom: 10px;
    margin-left: 30%;
    width: 5%;
}

.footer .col ul li a:hover{
    color: whitesmoke;
    transform: translate(-12px);
}


/* animation */
img{
    transition: transform .3s ease;
}

img:hover{
    transform: scale(1.1);
}

.ctn:hover{
    background: black;
    color: rgb(250, 245, 245);
}

li:hover{
    color: whitesmoke;
}